<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>MessageApp 5000</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-fab top right edge>
      <button ion-fab mini (click)="showCreateChannelPrompt()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-list>
      <div id="channels" *ngIf="channels">
        <div class = "channels" *ngFor="let channel of channels">
          <div class="channel">
            <button ion-button menuToggle (click)="goToChannel(channel.title)" color="light" full>{{ channel.title }}</button>
          </div>
        </div>
      </div>
    </ion-list>
    <button ion-button menuToggle id="signOut" (click)="signOut()" item-left color="danger" full>Sign Out</button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>